In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

stroke = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/healthcare-dataset-stroke-data.csv')

Gender: Male, Female, Other

Age: float64 -> round up or down

Hypertension -> boolean

heart_diseas -> boolean

stroke -> boolean

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [ ]:
''' Trying using np and panda.
stroke['BMI_Indicator'] = np.where(stroke['bmi'] < 18.5, 'Underweight',
                                   np.where(stroke['bmi'].between(18.5, 24), 'Healthy',
                                    np.where(stroke['bmi'].between(25, 29)), 'Overweight',
                                      np.where(stroke['bmi'].between(30, 34), 'Obese Class 1',
                                       np.where(stroke['bmi'].between(35, 39), 'Obese Class2', 'Severely Obese'))))
'''

SyntaxError: ignored

In [ ]:
def BMI_indicator(x):
  if x < 18.5:
    return 'Underweight'
  elif x <25:
    return 'Healthy'
  elif x< 30:
    return 'Overweight'
  elif x < 35:
    return 'Obese Class 1'
  elif x < 40:
    return 'Obese Class 2'
  else:
    return 'Severely Obese'

In [ ]:
stroke['BMI_indicator']= stroke['bmi'].apply(BMI_indicator)
stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,BMI_Indicator,BMI_indicator
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,normal,Obese Class 2
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,normal,Severely Obese
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,normal,Obese Class 1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,normal,Obese Class 1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,normal,Healthy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,normal,Severely Obese
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,normal,Severely Obese
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,normal,Obese Class 1
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,normal,Overweight
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,normal,Overweight

If your BMI is less than 18.5, it falls within the underweight range.
If your BMI is 18.5 to <25, it falls within the healthy weight range.
If your BMI is 25.0 to <30, it falls within the overweight range.
If your BMI is 30.0 or higher, it falls within the obesity range.
Obesity is frequently subdivided into categories:

Class 1: BMI of 30 to < 35
Class 2: BMI of 35 to < 40
Class 3: BMI of 40 or higher. Class 3 obesity is sometimes categorized as “severe” obesity.